*{
    padding: 0;
    margin: 0; 
    box-sizing: 0; 
    font-family:'Courier New', Courier, monospace; 
     background-image: linear-gradient(to right,  rgb(98, 50, 187), rgb(183, 158, 216));

}

.container {
    height: 100vh; 
    width: 100%;
    position: relative;
    width: 75%;
    padding: 50px 0px 100px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    
}


ul {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
    background-color: blue;
}


    


p{
    color: rgb(192, 211, 227);
    font-weight: 200px;
    font-family: font-family: 'Nunito', sans-serif;;
}